# Artefacts de build Microsoft Visual C++
Debug/
Release/
x64/
*.StaticDebug/
*.StaticRelease/

# Fichiers temporaires d'IDE et de base de données de code (anciens et récents)
*.ncb
*.opt
*.plg
*.suo
*.user
*.aps
*.clw
*.sdf
*.opensdf
.vs/

# Fichiers d'historique ou de swap Linux
.DS_Store
*~
*.swp
