# Microsoft Visual C++ build Artifacts
Debug/
Release/
x64/
*.StaticDebug/
*.StaticRelease/

# Temporary IDE files and code database (old and new)
*.ncb
*.opt
*.plg
*.suo
*.user
*.aps
*.clw
*.sdf
*.opensdf
.vs/

# History files or for Linux swap
.DS_Store
*~
*.swp
